body {
  font-family: 'Roboto', sans-serif;
}

p {
  margin-bottom: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gochi Hand', cursive;
}

#head::before {
  content: "";
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6) 29%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.3) ), url(./images/imthec_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#main-title {
  font-size: 4rem;
  color: #fff;
  padding: 0.5rem;
  text-shadow: -3px 4px 8px black;
}

.navbar-item {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5rem;
}

.nav-title {
  font-size: 2.1rem;
}

.nav-padding {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}


.image-bump {
  margin-bottom: 40px !important;
}

.modal-image {
  margin: auto;
}

.modal-image.width {
  width: 450px;
  height: auto;
}

.modal-image.height {
  min-height: 100px;
  max-height: 500px;
  width: auto;
}

.image.circle {
  border-radius: 50%;
}

.strike {
  text-decoration: line-through;
}

.card {
  height: 100%;
}

.card-icon {
  font-size: 7rem;
}

.social-icon:not(:last-child) {
  margin-right: 15px;
}

.hoverable {
  -webkit-box-shadow: -3px 3px 10px 3px rgba(0,0,0,0.20);
  -moz-box-shadow: -3px 3px 10px 3px rgba(0,0,0,0.20);
  box-shadow: -3px 3px 10px 3px rgba(0,0,0,0.20);
  transition: .25s;
  cursor: pointer;
}

.hoverable:hover {
  -webkit-box-shadow: -8px 8px 31px 0px rgba(0,0,0,0.39);
  -moz-box-shadow: -8px 8px 31px 0px rgba(0,0,0,0.39);
  box-shadow: -8px 8px 31px 0px rgba(0,0,0,0.39);
  transform: scale(1.05);
  z-index: 10;
}

.gochi-font {
  font-family: 'Gochi Hand', cursive !important;
}

.roboto-font {
  font-family: 'Roboto', sans-serif !important;
}
